security:
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true

    access_control:
        - { path: ^/, roles: PUBLIC_ACCESS }